.element {
	text-align: center;
	font-weight: bold;
	font-size: 1vw;
	color: whitesmoke;
}
.num {
	float: left;
	font-size: .8vw;
	line-height: 1px;
	margin: 5;
	color: #0e0e0e;
}
.weight {
	float: right;
	font-size: .8vw;
	line-height: 1px;
	margin: 5;
	color: #0e0e0e;
}